
.form-control{

	 padding-left: 10px;
	 padding-top: 15px;
	 padding-right: 10px;
	 padding-bottom: 15px;
	 margin-left:275px;
	/* margin-right:50px;*/
	 border-radius: 10px;
	 margin-top: 250px;
	 
}
.btn btn-secondary btn-sm{
	position: relative;
	margin-top: 100px;
}

